@model List<Product>
<h1 class="text-center mb-2">Product Catalog</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var i in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@i.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@i.Title</h5>
                    <p class="card-text">@i.Category  - @i.Price$</p>
                </div>
                <div class="card-footer text-center">
                    @if(ViewBag.FavId == @i.Id)
                    {
                        <button type="button" class="btn btn-outline-primary">Favorite</button>
                    }
                    else
                    {
                        <a asp-action="AddFavorite" asp-route-id="@i.Id" class="btn btn-primary">Favorite</a>
                    }
                    <button type="button" class="btn btn-success">Add to Cart</button>
                </div>
            </div>
        </div>
    }
</div>